html {
    font-family: sans-serif;

}

html {
    background-color: black;
    color: lightgray;
}

input {
    color: white;
}

* {
    box-sizing: border-box;
}

table.data {
    font-size: 0.9em;
    border-collapse: collapse;
}

table.data th, table.data td {
    padding: .5em;
    border: 1px solid silver;
}

table.data th {
    white-space: nowrap;
}

.data, .cnt {
    margin: 0 auto;
}

h1 {
    text-align: center;
}
tr.hl, tr.hl input {
    background-color: greenyellow;
    color: black;
}
td.hl0 div.value {
    background-color: darkred;
    color: pink;
    padding: 0 2px;
    border-radius: 2px;
    display: inline-block;
}
td.hl1 {
    font-weight: bold;
}
td.hl2 {
    color: darkgreen;
}
.data input[type=text] {
    background: none;
    margin: -0.5em;
    padding: 0.5em;
    width: calc(100% + 1em);
}
.data input[type=text]:focus {
    /*outline: none;*/
}
tbody .activeRow > *:first-child {
    border-left: 3px solid orangered;
}

.data td.active, .data th.active {
    border: 2px solid orangered;
}

.data th.activeColumn {
    border-top: 3px solid orangered;
}

