html {
    font-family: sans-serif;

}

html {
    background-color: black;
    color: lightgray;
}

input {
    color: white;
}

* {
    box-sizing: border-box;
}

table.data {
    font-size: 0.9em;
    border-collapse: collapse;
}

table.data th, table.data td {
    padding: 0;
    border: 1px solid silver;
}

table.data div.cellContent {
    padding: .5em;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

table.data th, table.data td {
    overflow: hidden;
}

table.data th {    
    /* white-space: nowrap; */
}

.data, .cnt {
    margin: 0 auto;
}

h1 {
    text-align: center;
}
tr.hl, tr.hl input {
    background-color: greenyellow;
    color: black;
}
td.hl0 div.cellContent {
    background-color: darkred;
    color: pink;
    padding: 0 2px;
    border-radius: 2px;
    display: inline-block;
}
td.hl1 {
    font-weight: bold;
}
td.hl2 {
    color: darkgreen;
}

.data .cellItems {
    height: 100%;
}

.data input[type=text] {
    background: none;
    margin: -0.5em;
    padding: 0.5em;
    width: calc(100% + 1em);
}
.data input[type=text]:focus {
    /*outline: none;*/
}
tbody .activeRow > *:first-child {
    border-left: 3px solid orangered;
}

.data td.active, .data th.active {
    border: 2px solid orangered;
}

.data thead th.activeColumn {
    border-top: 3px solid orangered;
}

th {
    position: relative;
}

th .resizeHandle {
    display: none;
}

th.resizableColumn:hover .resizeHandleVertical, th.resizableRow:hover .resizeHandleHorizontal, 
th.isResizing .resizeHandleVertical, tr.isResizing th .resizeHandleHorizontal {
    display: block!important;
}

th .resizeHandleVertical {
    width: 6px;
}

th .resizeHandleHorizontal {
    height: 6px;
}


th .resizeHandle:hover, 
th.isResizing .resizeHandleVertical,
tr.isResizing .resizeHandleHorizontal
{
    background-color: skyblue;
}

th .resizeHandleVertical {
    cursor: col-resize;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
}

th .resizeHandleHorizontal {
    cursor: row-resize;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    z-index: 999;
}


th.draggableRow.active, th.draggableColumn.active > div:first-child {
    cursor: grab;
}

.dragShadow {
    position: absolute;
    z-index: 999999;
    background-color: rgba(255,255,255,0.5);
    pointer-events: none;
}

.data th.dragDestBefore, .data td.dragDestBefore {
    border-left: 2px solid lightskyblue;
}


.data th.dragDestAfter, .data td.dragDestAfter {
    border-right: 2px solid lightskyblue;
}


.data tr.dragDestBefore td, .data tr.dragDestBefore th {
    border-top: 2px solid lightskyblue;
}


.data tr.dragDestAfter td, .data tr.dragDestAfter th {
    border-bottom: 2px solid lightskyblue;
}

